{% extends 'base.html' %}

{% block title %}Student List{% endblock %}

{% block content %}
    <h2>Student List</h2>
    
    <!-- Search Form -->
    <form method="GET" action="{% url 'student_list' %}">
        <input type="text" name="q" placeholder="Search by name" value="{{ request.GET.q }}">
        <button type="submit">Search</button>
    </form>
    
    <ul class="student-list">
        {% for student in page_obj %}
            <li>
                <span>{{ student.first_name }} {{ student.last_name }}</span>
                <a href="{% url 'student_edit' student.id %}" class="button edit-button">Edit</a>
            </li>
        {% empty %}
            <li>No students found.</li>
        {% endfor %}
    </ul>

    <!-- Pagination Controls -->
    <div class="pagination">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        <div class="page_buttons_div">
            {% if page_obj.has_previous %}
                <a href="?page=1&q={{ request.GET.q }}">First</a>
                <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}">Previous</a>
            {% endif %}
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q }}">Last</a>
            {% endif %}
        </div>
    </div>

    <a href="{% url 'student_create' %}" class="button">Add a new student</a>
{% endblock %}
