<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student Management{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'students/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Student Management System</h1>

        <!-- Logout Button -->
        {% if user.is_authenticated %}
          <div class="logout-button-container">
              <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="logout-button">Logout</button>
              </form>
          </div>
        {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- <footer>
        <p>&copy; 2024 Student Management System</p>
    </footer> -->
</body>
</html>
